<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PMN</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
<body>
    <br><br>
    <div class="content container d-flex justify-content-center">
        <table class="table table-green table-striped-columns">
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Adelantado</th>
                    <th>Vigente</th>
                    <th>Recuperado</th>
                    <th>Cartera Vencida</th>
                </tr>
            </thead>
            <tbody>
                {% for dic in info %}
                <tr>
                    <td>{{ dic.Mes }}</td>
                    <td>{{ dic.Adelantado }}</td>
                    <td>{{ dic.Vigente }}</td>
                    <td>{{ dic.Recuperado }}</td>
                    <td>{{ dic.CarV}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <a href="{% url 'download_excel' %}?info={{ info }}&year={{ year }}&branch={{ branch }}" class="btn btn-primary">Descargar Excel</a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>